.verdict {
    border: 8px solid #0a4275;;
    background-color: #dedede;
    text-align: center;
    height: 5em;
    margin: 1%;
    padding: 1%;
}

#judgement {
    float: left;
    padding: 8%;
    padding-left: 20%;
}

#confidence {
    float: right;
    padding: 8%;
    padding-right: 20%;
}