<button type="button" id="back" class="btn btn-dark" (click)="onClick();">Go Back</button>
<app-logo></app-logo>
<div class="history-table">
    <input class="form-control" id="search" type="text" placeholder="Search" [(ngModel)]="searchText" (input)="filter()">
    <ngx-datatable 
        class="material" 
        [rows]="tempRows" 
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50"
        [rowHeight]="50" 
        [scrollbarV]="false"
        [limit]="10" >

        <ngx-datatable-column name="ID" prop="id">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.id }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Image">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <img [src]="row.image" width="100" />
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Datetime" prop="datetime">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.datetime }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Verdict" prop="verdict">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.verdict }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Confidence" prop="confidence">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.confidence }}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>