<button type="button" id="back" class="btn btn-dark" (click)="onClick();">Go Back</button>
<app-logo></app-logo>
<p *ngIf="loadingResult">Fetching data from server...</p>
<div class="container-fluid" id="history-table" *ngIf="!loadingResult">
    <!-- Add a dropdown menu to select the filtering option -->
    <div class="row">
        <div class="col-md-1 no-pad pad-l-12">
            <div class="dropdown">
                <select id="dropdown" [(ngModel)]="selectedOption" (change)="filter()">
                <option value="All">All</option>
                <option value="ID">ID</option>
                <option value="Timestamp">Timestamp</option>
                <option value="Verdict">Verdict</option>
                <option value="Confidence">Confidence</option>
                </select>
            </div>
        </div>
        <div class="col-md-11 no-pad pad-r-12">
            <input class="form-control" id="search" type="text" placeholder="Search" [(ngModel)]="searchText" (input)="filter()">
        </div>    
    </div>
    
    <ngx-datatable 
        class="material" 
        [rows]="tempRows" 
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50"
        [rowHeight]= "imgHeight"
        [scrollbarV]="false"
        [limit]="10" >

        <ngx-datatable-column name="ID" prop="id">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.id }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Image">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <img [src]="base64ToImage(row.image)" width="100" />
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Timestamp" prop="timestamp">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.timestamp }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Verdict" prop="verdict">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.verdict }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Confidence" prop="confidence">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.confidence }}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>