<footer id="footer" class="text-center text-white">
    <div class="container p-2 pb-0">
        <ul class="nav justify-content-center border-bottom pb-2 mb-3">
            <li class="nav-item">
                <a [routerLink]="['/']" routerLinkActive="router-link-active" class="nav-link px-2 text-white">Current Target</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/historical-data']" routerLinkActive="router-link-active" class="nav-link px-2 text-white">View History</a>
            </li>
            </ul>
    </div>
    <div id="copyright"class="text-center p-3">
    © 2023 Copyright Sentinel AI
    </div>
</footer>